<footer id="footer">
    <div class="ui centered container">
        <h3 class="ui header text-centered color-orange">This is a project for HCMUS Software Engineering course of
            Group 9</h3>
        <table>
            <tr>
                <th>Member</th>
                <th>Contact</th>
            </tr>
            <tr class="text-centered">
                <td>
                    Thai Ngoc Thanh Dat
                </td>
                <td>
                    tntdat19@apcs.fitus.edu.vn
                </td>
            </tr>
            <tr class="text-centered">
                <td>
                    Ta Ngoc Minh Khoa
                </td>
                <td>
                    tnmkhoa19@apcs.fitus.edu.vn
                </td>
            </tr>
            <tr class="text-centered">
                <td>
                    Mai Thi Cam Van
                </td>
                <td>
                    mtcvan19@apcs.fitus.edu.vn
                </td>
            </tr>
            <tr class="text-centered">
                <td>
                    Nguyen Van Tien
                </td>
                <td>
                    nvtien19@apcs.fitus.edu.vn
                </td>
            </tr>
            <tr>

            </tr>
        </table>
    </div>

</footer>