<div class="form-container">
    <div class="ui coupled modal">
        <div class="ui first modal">
            <div class="header">
                Create a review post
            </div>
            <div class="content">

                <form class="ui form" action="/post/create" method="POST" enctype="multipart/form-data">
                    <div class="required field">
                        <label>Title</label>
                        <input type="text" name="title" placeholder="Title" id="title" required>
                    </div>

                    <div class="required field">
                        <label>District</label>
                        <select class="ui dropdown" name="district" id="select-district" required>
                            <option value="">Select district</option>
                            <!-- <option value="q1">Quận 1</option>
                            <option value="q2">Quận 2</option>
                            <option value="q3">Quận 3</option> -->
                            <% for (const d of district) { %>
                            <option value="<%= d %>"><%= d %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="required field">
                        <label>Tags</label>
                        <select name="tags" class="ui search dropdown" multiple="" id="multi-select-tags" required>
                            <option value="">Tags</option>
                            <!-- <option value="t1">Tag 1</option>
                            <option value="t2">Tag 2</option>
                            <option value="t3">Tag 3</option> -->
                            <% for (const t of tag) { %>
                            <option value="<%= t %>"><%= t %></option>

                            <% } %>
                        </select>
                    </div>

                    <div class="required field">
                        <label>Images</label>
                        <input type="file" accept=".jpg, .jpeg, .png" name="postimage" id="images" required multiple>
                    </div>

                    <div class="required field">
                        <label>Description</label>
                        <textarea spellcheck="false" id="description" required></textarea>
                    </div>

                    <div class="ui second modal">
                        <div class="header">
                            Confirmation
                        </div>
                        <div class="content">
                            <h2 class="ui header">Are you sure to post this review?</h2>
                        </div>
                        <div class="actions">
                            <div class="ui inverted green red button" id="return-form">Return</div>
                            <div class="ui inverted green button" id="continue-form">Yes</div>
                        </div>
                    </div>

                    <div class="actions">
                        <div class="ui inverted red button" id="close-form">Close</div>
                        <div class="ui inverted green button" id="submit-form">Post</div>
                        <button type="submit" class="ui inverted primary button" id="confirm-submit-form">OK, Let's post
                            this</button>
                    </div>


                </form>

            </div>


        </div>
    </div>

</div>