@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$background: linear-gradient(223.58deg, #ff8617 31.18%, #b3cdcd 101.35%);
$font-style: "Montserrat", sans-serif;
$orange: #ff8617;

$XS: 512px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
$mXL: 1174px;

@mixin responsive($size) {
    @if $size == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $size == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $size == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $size == XL {
        @media only screen and (max-width: $XL) {
            @content;
        }
    } @else if $size == mXL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.color-orange {
    color: $orange !important;
}

.border-bordered {
    border: 1px solid black;
}

.text-centered {
    text-align: center;
}

body {
    background: $background !important;
    font-family: $font-style;
    background-size: cover;
    background-repeat: no-repeat;
}
