<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/metadata') %>
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>

<body>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui one column grid">
                <div class="row" id="l-nav">
                    <a href="/" class="ui tiny image">
                        <img src="/icon.png">
                    </a>

                </div>
            </div>
        </div>
        <div class="column" id="l-form-control">
            <div class="ui one column grid">
                <div class="row">
                    <h1 class="color-orange" id="l-form-intro"><i>Lemmi</i></h1>
                </div>

                <div class="row border-bordered d-flex-col" id="l-form-group">
                    <form class="ui form" action="/login" method="POST" id="login-form">
                        <div class="field">
                            <h1 class="ui header color-orange text-centered">Login</h1>
                        </div>
                        <div class="field">
                            <h4 class="ui header color-orange text-centered">Sign in to your account</h4>
                        </div>
                        <div class="field">
                            <input type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>

                        <% if (message !== undefined) { %>
                        <div class="field">
                            <h4 class="text-centered"><%= message %></h4>
                        </div>
                        <% } %>

                        <div class="field">
                            <button class="fluid ui button" type="submit" id="l-submit">Login</button>
                        </div>

                        <div class="field">
                            <div id="forgot">
                                <a href="/account/forgot">
                                    Forgot password ?
                                </a>
                            </div>
                        </div>

                        <a href="/account/create/user">
                            <div class="fluid ui black basic button">Register</div>
                        </a>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <script>

        const submitButton = document.getElementById('l-submit');

        submitButton.onclick = () => {
            submitButton.classList.add('loading');
        }

        document.getElementById('login-form').onsubmit = () => {
            submitButton.classList.add('loading');
        }
    </script>

</body>

</html>